
 <nav class="navbar navbar-light fixed-top" style="background:#563d7c;">
  <input [(ngModel)]="searchValue" id="#search" (keydown)="search($event)" type="text" class="form-control mr-sm-2" placeholder="Search Customers" aria-label="Search">
</nav>

<div *ngIf="!selectedCustomer">
  <table class="table table-striped" id="my-table">
    <thead>
      <tr class="promo-table">
        <td>ID</td>
        <td>Email</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>IP</td>
        <td>Latitude</td>
        <td>Longitude</td>
        <td>Created At</td>
        <td>Updated at</td>
      </tr>
    </thead>
    <tbody id="my-content">
      <tr class="rich-text" *ngFor='let customer of filteredCustomers' (click)="selectedCustomer = customer" >
        <td>{{customer.id}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.first_name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.ip}}</td>
        <td>{{customer.latitude}}</td>
        <td>{{customer.longitude}}</td>
        <td>{{customer.created_at}}</td>
        <td>{{customer.updated_at}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="col-md-12 row rich-text-customer" >

<div class="col-md-6">
 <div class="my-card" id="card" *ngIf="selectedCustomer">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
    <button class="button"(click)="selectedCustomer = null" id="backButton">X</button>


     
</div>

</div>
<div class="col-md-6 customer-name field-promo-text2">
  <h4 id="name">FirstName:{{selectedCustomer?.firstname}} {{selectedCustomer?.first_name}}</h4>
  <h4 id="lastname">LastName:{{selectedCustomer?.lastname}} {{selectedCustomer?.last_name}}</h4>
  <h4 id="email">Email:{{selectedCustomer?.email}}</h4>

</div>

</div>





</div>
 
  <router-outlet></router-outlet>
