/*Stylesheet*/


.rich-text{
 cursor:pointer;
}

.my-card {
    margin:100px;
    
}

.button{
    background: transparent;
    border: none;
    position: absolute;
    top: 22%;
    right: 24%;
    background: grey;
}

.promo-table{
    background-color: black;
    color:white;
   
}
.table{
    margin-top:3.5vw;
}

.rich-text-customer{
    background-color: rgba(13,12,12,0.51);
    width: 92%;
    /* display: flex; */
    /* flex-direction: column; */
    margin: 4vw;
  
}

.customer-name{
    margin-top:2vw;
}

h4 {
    width:50vw;
    text-align:left;
    font-size:16px;
}

.field-promo-text2{
    position: absolute;
    top: 50%;
    /* left: 63%; */
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-12%, -50%);
}

.rich-text:hover{
    background:#563d7c;
    color:white;

}

